{% extends "layout.html" %}

{% block title %}
    Registration Page
{% endblock %}

{% block main %}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f5f5f5; /* Light gray background */
        color: #333; /* Dark text color */
        display: flex;
        flex-direction: column; /* Stack children vertically */
        min-height: 100vh; /* Ensure footer stays at bottom */
    }

    header {
        background-color: #002147; /* Navy blue */
        color: #fff; /* White text color */
        padding: 20px;
        text-align: center;
        flex-shrink: 0; /* Prevent header from shrinking */
    }

    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

    nav ul li a {
        color: #fff; /* White text color */
        text-decoration: none;
    }

    main {
        padding: 20px;
        display: flex;
        flex-grow: 1; /* Allow main content to grow */
        align-items: flex-start;
        justify-content: center;
    }

    .content-container {
        display: flex;
        align-items: flex-start;
    }

    .pdf-container {
        width: 800px;
        margin-right: 820px;
    }

    .input-container {
      position: fixed; /* Set position to fixed */
      top: 50%; /* Position from the top */
      left: 75%; /* Position from the left */
      transform: translate(-50%, -50%); /* Center the container horizontally and vertically */
      width: 800px; /* Set a fixed width */
      padding: 20px; /* Add padding inside the container */
      border: 2px solid #ccc; /* Add a border for visual separation */
      background-color: #fff; /* Optional: Set a background color */
      z-index: 1000; /* Optional: Set a higher z-index if needed */
    }

    .input-container input {
        display: block;
        margin: 0 auto 10px; /* Center align input boxes */
        width: calc(100% - 20px); /* Make input boxes very wide */
        max-width: 800px; /* Set a maximum width */
    }

    .content-row {
        display: flex;
        justify-content: center;
    }

    .content-row input {
        width: calc(48% - 10px); /* Adjust width for two inputs per row */
    }

    .bullet-point-section {
        max-height: 100px; /* Limit height to control overflow */
        overflow-y: auto; /* Enable vertical scrolling */
        margin-bottom: 0px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #ccc; /* Add border to make scrollbar visible */
        border-bottom: 1px solid #ccc;
        display:inline-block;
        padding:15px 20px; /* Adjust the padding to make room for the narrower textarea */
        line-height:140%;
        width: 760px; /* Adjust the width as needed */
        font-size: 16px; /* Adjust the font size as needed */
        /*background-color: #d0d0d0;*/
    }


    .bullet-point-section input {
        width: calc(100% - 20px); /* Adjust width for bullet point inputs */
        display: inline-block;
        margin-bottom: 5px; /* Space between bullet points */
        margin: 5px auto; /* Center align bullet point inputs */
        max-width: 1600px; /* Set a maximum width */
    }
    .bullet-point-section textarea {
        width: calc(100% - 20px); /* Adjust width for bullet point inputs */
        margin-bottom: 5px; /* Space between bullet points */
        margin: 5px auto; /* Center align bullet point inputs */
        max-width: 1600px; /* Set a maximum width */
    }
    footer {
        background-color: #002147; /* Navy blue */
        color: #fff; /* White text color */
        text-align: center;
        padding: 10px;
        flex-shrink: 0; /* Prevent footer from shrinking */
        width: 100%;
    }

    #generateButton {
        background-color: #3498db; /* Light blue background */
        color: #fff; /* White text color */
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-top: 20px;
    }

    #generateButton:hover {
        background-color: #2980b9; /* Darker blue background on hover */
        
    }

    .addBullet {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .input-section {
        border: 1px solid #ccc;
        margin-bottom: 0px; /* Add margin-bottom to create space between sections */
        width: 800px;
    }

    .input-section h2 {
        cursor: pointer;
        background-color: #002147;
        color: #fff;
        margin: 0;
        padding: 10px;
    }

    .input-section .input-box {
        display: none;
        margin-top: 10px; /* Add margin-top to create a gap */
    }

    .input-section.active .input-box {
        display: block;
    }

    .addEducation,
    .addExperience,
    .addProject,
    .addSkill {
        display: none;
    }

    .input-section.active .addEducation,
    .input-section.active .addExperience,
    .input-section.active .addProject,
    .input-section.active .addSkill {
        display: inline-block;
    }
    .list_skill {
        margin-bottom: 25px;
    }
    .education-entry,
    .experience-entry,
    .project-entry {
        padding-top: 10px;
        /*background-color: #e0e0e0; */
        border-top: 3px solid black; /* Add black border to the top */
        border-bottom: 3px solid black; /* Add black border to the bottom */
    }
    .contact-info-entry {
            display: flex;
            align-items: center;
        }

        .contact-info-entry input {
            flex: 1;
            margin-right: 5px; /* Adjust margin as needed */
            margin-left: 6px;
        }

        .contact-info-entry button {
            margin-left: 5px; /* Adjust margin as needed */
            margin-top: 0px;
            padding-top: 0px;
        }
        #contactInfoSection #addInput {
            display: block; /* Ensure the button behaves as a block element */
            margin: 0 auto; /* Center align the button horizontally */
            padding: 6px 10px; /* Adjust padding as needed */
            font-size: 12px; /* Adjust font size as needed */
            cursor: pointer;
            border: none; /* Remove border */
            background-color: #3498db; /* Light blue background color */
            color: #fff; /* White text color */
            border-radius: 4px; /* Add border radius */
            transition: background-color 0.3s ease; /* Smooth transition for background color */
        }

        #contactInfoSection #addInput:hover {
            background-color: #2980b9; /* Darker blue background color on hover */
        }
        #contactInfoSection #addInput,
        .addBullet {
            display: block; /* Ensure the button behaves as a block element */
            margin: 10px auto; /* Center align the button horizontally */
            padding: 6px 10px; /* Adjust padding as needed */
            font-size: 8px; /* Adjust font size as needed */
            cursor: pointer;
            border: none; /* Remove border */
            background-color: #3498db; /* Light blue background color */
            color: #fff; /* White text color */
            border-radius: 4px; /* Add border radius */
            transition: background-color 0.3s ease; /* Smooth transition for background color */
        }

        #contactInfoSection #addInput:hover,
        .addBullet:hover {
            background-color: #2980b9; /* Darker blue background color on hover */
        }
        .addEducation,
        .addExperience,
        .addProject,
        .addSkill {
            display: none;
            margin: 10px auto; /* Center align the button horizontally */
            padding: 6px 10px; /* Adjust padding as needed */
            font-size: 12px; /* Adjust font size as needed */
            cursor: pointer;
            border: none; /* Remove border */
            background-color: #1a4a80; /* Darker blue background color */
            color: #fff; /* White text color */
            border-radius: 4px; /* Add border radius */
            transition: background-color 0.3s ease; /* Smooth transition for background color */
        }
        .addEducation:hover,
        .addExperience:hover,
        .addProject:hover,
        .addSkill:hover {
            background-color: #123260; /* Even darker blue background color on hover */
        }

        .input-section.active .addEducation,
        .input-section.active .addExperience,
        .input-section.active .addProject,
        .input-section.active .addSkill {
            display: block; /* Show the button only when the section is active */
        }
        /* Styles for delete buttons */
        .deleteEntry {
            display: block;
            margin: 10px auto; /* Center the button horizontally */
            padding: 5px 10px;
            background-color: #f44336; /* Red background for delete button */
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center; /* Center the text inside the button */
        }

        /* Optional: Style for buttons on hover */
        .deleteEntry:hover {
            background-color: #d32f2f; /* Darker red on hover */
        }
        
</style>
<div class="content-container">
    <div class="pdf-container">
        <embed src="/static/JakeCV.pdf#toolbar=0" width="800" height="1050">
    </div>
    <form id="resume" action="/create" method="POST">
        <div class="input-container">
            <div class="input-section">
                <h2 onclick="toggleSection(this)">Name</h2>
                <div class="input-box">
                    <input type="text" placeholder="John Doe" name="person_name" value="{{ person_name }}"> 
                </div>
            </div>
            <div class="input-section" id="contactInfoSection">
                <h2 onclick="toggleSection(this)">Contact Info</h2>
                <div class="input-box">
                    <input name="contact_info" type="text" placeholder="Enter Contact Info" value="{{ contactInfoList[0] }}">
                    <button type="button" id="addInput">+</button>
                </div>
            </div>
            <div class="input-section" id="educationSection">
                <h2 onclick="toggleSection(this)">Education</h2>
                <div class="input-box">
                    <div class="education-entry">
                        <div class="content-row">
                            <input name="education[0]" type="text" placeholder="Institution Name" value="{{ educationInfo[0][0]}}">
                            <input name="education[0]" type="text" placeholder="Location" value="{{ educationInfo[0][1]}}">
                        </div>
                        <div class="content-row">
                            <input name="education[0]" type="text" placeholder="Degree" value="{{ educationInfo[0][2]}}">
                            <input name="education[0]" type="text" placeholder="Date" value="{{ educationInfo[0][3]}}">
                        </div>
                        <div class="bullet-point-section">
                            <textarea name="education[0]" type="text" placeholder="Bullet Point" rows="3">{{ educationInfo[0][4]}}</textarea>
                            <button type="button" class="addBullet" onclick="addBulletPoint(this, 'education', 0)">+</button>
                        </div>
                        <button type="button" class="deleteEntry" onclick="deleteEntry(this)">Delete</button>
                    </div>
                </div>
                <button type="button" class="addEducation" id="addEducation">Add Education</button>
            </div>

            <div class="input-section" id="experienceSection">
                <h2 onclick="toggleSection(this)">Experience</h2>
                <div class="input-box">
                    <div class="experience-entry">
                        <div class="content-row">
                            <input name="experience[0]" type="text" placeholder="Role">
                            <input name="experience[0]" type="text" placeholder="Date">
                        </div>
                        <div class="content-row">
                            <input name="experience[0]" type="text" placeholder="Company">
                            <input name="experience[0]" type="text" placeholder="Location">
                        </div>
                        <div class="bullet-point-section">
                            <textarea name="experience[0]" type="text" placeholder="Bullet Point" rows="3"></textarea>
                        </div>
                        <button type="button" class="addBullet" onclick="addBulletPoint(this, 'experience', 0)">+</button>
                    </div>
                </div>
                <button type="button" class="addExperience" id="addExperience">Add Experience</button>
            </div>
            <div class="input-section" id="projectsSection">
                <h2 onclick="toggleSection(this)">Projects</h2>
                <div class="input-box">
                    <div class="project-entry">
                        <div class="content-row">
                            <input name="project[0]" type="text" placeholder="Project Name">
                            <input name="project[0]" type="text" placeholder="Date">
                        </div>
                        <div class="bullet-point-section">
                            <textarea name="project[0]" type="text" placeholder="Bullet Point" rows="3"></textarea>
                        </div>
                        <button type="button" class="addBullet" onclick="addBulletPoint(this, 'project', 0)">+</button>
                    </div>
                </div>
                <button type="button" class="addProject" id="addProject">Add Project</button>
            </div>
            <div class="input-section" id="skillsSection">
                <h2 onclick="toggleSection(this)">Technical Skills</h2>
                <div class="input-box">
                    <div class="skill-entry">
                        <input name="skills[0]" id="skill_name" type="text" placeholder="Skill Name">
                        <div class="list_skill">
                            <input name="skills[0]" type="text" placeholder="List Skills">
                        </div>
                    </div>
                </div>
                <button type="button" class="addSkill" id="addSkill">Add Skill</button>
            </div>
            <button type="submit" id="generateButton">Generate</button>
        </div>
    </form>            

</div>

<script>

let educationCounter = 0;
let experienceCounter = 0;
let projectCounter = 0;
let skillsCounter = 0;




// Function to toggle visibility of input sections
function toggleSection(header) {
            const allSections = document.querySelectorAll('.input-section');
            const section = header.parentElement; 
            
            if (section.classList.contains('active')) {
                // Makes all input sections hidden
                allSections.forEach(section => section.classList.remove('active')); 
            }   else {
                // Makes all input sections hidden
                allSections.forEach(section => section.classList.remove('active')); 
                // Makes the clicked input section visible
                section.classList.add('active'); 
            }
        }

// Get the plus button and the input container
const addButton = document.getElementById("addInput");
const contactInfoSection = document.getElementById("contactInfoSection");

// Function to add new input box for Contact Info
function addInputBox(value_box) {
            // Create new input box
            const newInputBox = document.createElement("div");
            newInputBox.classList.add("contact-info-entry");

            const inputElement = document.createElement("input");
            inputElement.type = "text";
            inputElement.name = "contact_info";
            inputElement.placeholder = "Enter Contact Info";
            inputElement.value = value_box;

            const deleteButton = document.createElement("button");
            deleteButton.textContent = "-";
            deleteButton.type = "button"; // Ensure it doesn't submit the form

            deleteButton.addEventListener("click", function() {
                // Remove the entire contact info entry when delete button is clicked
                newInputBox.remove();
            });

            newInputBox.appendChild(inputElement);
            newInputBox.appendChild(deleteButton);

            // Insert new contact info entry before the add button
            contactInfoSection.querySelector(".input-box").insertBefore(newInputBox, addButton);
        }

        // Add event listener to the plus button for Contact Info
        addButton.addEventListener("click", function() {
            addInputBox("");
        });

        function addBulletPoint(button, section, index, text = "") {
        const bulletPointSection = button.parentNode;
        const newBulletPoint = document.createElement("textarea");
        newBulletPoint.setAttribute("name", `${section}[${index}]`);
        newBulletPoint.setAttribute("type", "text");
        newBulletPoint.setAttribute("placeholder", "Bullet Point");
        newBulletPoint.setAttribute("rows", "3");
        newBulletPoint.value = text;
        bulletPointSection.insertBefore(newBulletPoint, button);
    }

    function addEducationSection(institution = "", location =  "", degree = "", date = "", text = "") {
        const educationSection = document.getElementById("educationSection");
        const newEducationEntry = document.createElement("div");
        educationCounter++;
        newEducationEntry.classList.add("education-entry");
        newEducationEntry.innerHTML = `
            <div class="content-row">
                <input name="education[${educationCounter}]" type="text" placeholder="Institution Name" value="${institution}">
                <input name="education[${educationCounter}]" type="text" placeholder="Location" value="${location}">
            </div>
            <div class="content-row">
                <input name="education[${educationCounter}]" type="text" placeholder="Degree" value="${degree}">
                <input name="education[${educationCounter}]" type="text" placeholder="Date" value="${date}">
            </div>
            <div class="bullet-point-section">
                <textarea name="education[${educationCounter}]" placeholder="Education Point" rows="3">${text}</textarea>
                <button type="button" class="addBullet" onclick="addBulletPoint(this, 'education', ${educationCounter})">+</button>
            </div>
            <button type="button" class="deleteEntry" onclick="deleteEntry(this)">Delete</button>
        `;
        educationSection.querySelector(".input-box").appendChild(newEducationEntry);
    }

    function addExperienceSection() {
        const experienceSection = document.getElementById("experienceSection");
        const newExperienceEntry = document.createElement("div");
        experienceCounter++;
        newExperienceEntry.classList.add("experience-entry");
        newExperienceEntry.innerHTML = `
            <div class="content-row">
                <input name="experience[${experienceCounter}]" type="text" placeholder="Role">
                <input name="experience[${experienceCounter}]" type="text" placeholder="Location">
            </div>
            <div class="content-row">
                <input name="experience[${experienceCounter}]" type="text" placeholder="Company">
                <input name="experience[${experienceCounter}]" type="text" placeholder="Date">
            </div>
            <div class="bullet-point-section">
                <textarea name="experience[${experienceCounter}]" placeholder="Experience Point" rows="3"></textarea>
                <button type="button" class="addBullet" onclick="addBulletPoint(this, 'experience', ${experienceCounter})">+</button>
            </div>
            <button type="button" class="deleteEntry" onclick="deleteEntry(this)">Delete</button>
        `;
        experienceSection.querySelector(".input-box").appendChild(newExperienceEntry);
    }

    function addProjectSection() {
        const projectsSection = document.getElementById("projectsSection");
        const newProjectEntry = document.createElement("div");
        projectCounter++;
        newProjectEntry.classList.add("project-entry");
        newProjectEntry.innerHTML = `
            <div class="content-row">
                <input name="project[${projectCounter}]" type="text" placeholder="Project Name">
                <input name="project[${projectCounter}]" type="text" placeholder="Date">
            </div>
            <div class="bullet-point-section">
                <textarea name="project[${projectCounter}]" placeholder="Project Point" rows="3"></textarea>
                <button type="button" class="addBullet" onclick="addBulletPoint(this, 'project', ${projectCounter})">+</button>
            </div>
            <button type="button" class="deleteEntry" onclick="deleteEntry(this)">Delete</button>
        `;
        projectsSection.querySelector(".input-box").appendChild(newProjectEntry);
    }

    document.getElementById('addEducation').addEventListener('click', function() {
    addEducationSection();
});
    document.getElementById('addExperience').addEventListener('click', addExperienceSection);
    document.getElementById('addProject').addEventListener('click', addProjectSection);

    function deleteEntry(button) {
        button.parentElement.remove();
    }


</script>
{% if contactInfoList|length > 1 %}
    {% for contactInfo in contactInfoList %}
        {% if not loop.first %}
            {% if not contactInfo == "" %}
            <script>
                addInputBox("{{ contactInfo }}");
            </script>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if educationInfo|length > 1 %}
    {% for education in educationInfo %}
        {% if not loop.first %}
            {% if not education[0] == "" %}
            <script>
                addEducationSection("{{ education[0] }}", "{{ education[1] }}", "{{ education[2] }}", "{{ education[3] }}", "{{ education[4] }}");
            </script>
            {% endif %}
        {% endif %}
        
        {% if education|length > 5 %}
            <script>
                addBulletPoint(null, 'education', '{{ loop.index0 }}', "{{ education[4] }}");
            </script>
        {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
